{% extends "base.html" %}
{% block title %}Admin Home{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">Admin Dashboard</div>
    <div class="card-body">
        <p>Welcome Admin! Manage the system here:</p>
        <ul>
            <li><a href="{% url 'manage_users' %}">Manage Users</a></li>
            <li><a href="{% url 'projects_overview' %}">Projects Overview</a></li>
            <li><a href="{% url 'admin_settings' %}">System Settings</a></li>
        </ul>
    </div>
</div>
{% endblock %}


